<div class="contents_left">
  <h1><%= @nickname %>さんのストレスチェック一覧</h1>
   <%= link_to 'メンタルチェック一覧へ戻る', "/checks", method: :get,class: 'btn btn-default' %>
   <%= link_to 'ストレスチェックを始める', "/checks/new", method: :get,class: 'btn btn-default' %>
  <table class="list">  
  
   <colgroup>
        <col style="width:15%;">
        <col style="width:5%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:8%;">
        <col style="width:34%;">
        <col style="width:18%;">
    </colgroup>
   
   <thead>
     <tr>
       <th>更新日</th>
       <th>ニック<br>ネーム</th>
       <th>ストレス<br>チェック前</th>
       <th>ストレス<br>チェック後</th>
       <th>ストレス<br>感度</th>
       <th>ストレス<br>レベル</th>
       <th>編集・削除</th>
     </tr>
   </thead>
   <tbody>
      <% @checks.each do |check| %> 
     <tr>
      <td rowspan="2"><%= check.created_at.strftime("%Y/%m/%d %H:%M") %>
      </td>
      <td rowspan="2"><a href="/users/<%= check.user_id %>">
          <span><%= check.user.nickname %></span>
        </a>
      </td>
      <td>
           <div class="star-rating">
             <span style="width:<%= check.pre_score %>% " class="star-rating-item"></span>
          </div>
      </td>
      <td>
           <div class="star-ratings-sprite">
             <span style="width:<%= check.chk_score %>%" class="star-ratings-sprite-rating"></span>
          </div>
      </td>
      <td>
        <%= render partial: "checks/check", locals: { check: check } %>
      </td>
      <td>
        <%= render partial: "checks/check-stress", locals: { check: check } %>
      </td>
      <td>
        <% if user_signed_in? && current_user.id == check.user_id %>
          <%= link_to '編集', "/checks/#{check.id}/edit", method: :get, class: 'btn btn-default' %>
          <%= link_to '削除', "/checks/#{check.id}", method: :delete, data: { confirm: "本当に削除しますか？" },class: 'btn btn-default' %>
        <% end %>
      </td>
     </tr>    
     <tr>
      <td colspan="5">
       <div class="comment_last">
        <% if user_signed_in? && current_user.id == check.user_id %>
          <%= link_to 'コメントを見る', check_path(check.id), method: :get, class: 'btn btn-default' %>
          <span class="mgr-10">コメント<%= check.comments.count %>件</span>
            最新コメント:<%= check.show_last_comment %>
         <% end %>  
        </div>
      </td>
     </tr>    
      <% end %> 
  </tbody>
 </table> 
  <%= paginate(@checks) %> 
</div>       
<div class="contents_right">
    <div class="b"><img class="right_image" src="<%= asset_path "test1.jpg" %>"></div>
    <div class="b"><img class="right_image" src="<%= asset_path "test2.jpg" %>"></div>
    <div class="b"><img class="right_image" src="<%= asset_path "test3.jpg" %>"></div>
    <div class="b"><img class="right_image" src="<%= asset_path "test4.jpg" %>"></div>
</div>  
   
   

