<div class="contents_left">
    
  <h1>こんにちは！
    <% if user_signed_in? && current_user.id %>
    <%= current_user.nickname %>さん</h1><br>
    <% end %>
  <h2>メンタルケアには今のストレスレベルを知るだけでなく、ストレスの感じ方（ストレス感度）にズレがないかを知ることが<br>大切です。
  ご自身が今感じているストレス感覚をチェックして、ストレスを素直に感じれるようにしましょう！ </h2>
  <h2 id="navy">ユーザー間で励ましのコメントもしてくださいね！（ログイン後表示されます）<br>
  <span class="under"></span></h2>  
   <div class="check_start">
    <% if user_signed_in? && current_user.id %>
      <%= link_to 'ストレスチェックを始める', "/checks/new", method: :get,class: 'btn btn-default' %>  
    <% end %> 
   </div>
  <% if user_signed_in? && current_user.id %>
     <%= form_tag :search_checks, method: :get, class: "search" do %>
   　  <%= text_field_tag :search, '', class: 'form-control', placeholder: 'ニックネームを入力' %> 
         <%= submit_tag "検索" %>
    <% end %>  
  <% end %> 
  <table class="list">  
  
   <colgroup>
        <col style="width:15%;">
        <col style="width:5%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:12%;">
        <col style="width:38%;">
    </colgroup>
   
   <thead>
     <tr>
       <th>更新日</th>
       <th>ニック<br>ネーム</th>
       <th>ストレス<br>チェック前</th>
       <th>ストレス<br>チェック後</th>
       <th>ストレス<br>感度</th>
       <th>ストレス<br>レベル</th>
     </tr>
   </thead>
   <tbody>
      <% @checks.each do |check| %> 
     <tr>
      <td rowspan="2"><%= check.created_at.strftime("%Y/%m/%d %H:%M") %>
      </td>
      <td rowspan="2"><a href="/users/<%= check.user_id %>">
          <span><%= check.user.nickname %></span>
        </a>
      </td>
      <td>
           <div class="star-rating">
             <span style="width:<%= check.pre_score %>% " class="star-rating-item"></span>
          </div>
      </td>
      <td>
           <div class="star-ratings-sprite">
             <span style="width:<%= check.chk_score %>%" class="star-ratings-sprite-rating"></span>
          </div>
      </td>
      <td>
        <%= render partial: "check", locals: { check: check } %>
      </td>
      <td>
        <%= render partial: "check-stress", locals: { check: check } %>
      </td>
     </tr>    
     <tr>
      <td colspan="4">
        <div class="comment_last">
         <% if user_signed_in? %>
           <%= link_to 'コメントする', check_path(check.id), method: :get, class: 'btn btn-default' %>
            <span class="mgr-10">コメント<%= check.comments.count %>件</span>
            最新コメント:<%= check.show_last_comment %>
         <% end %>  
        </div>
      </td>
    </tr>   
       <% end %>   
  </tbody>
  </table>
 
  <%= paginate(@checks) %>
</div>  

<div class="contents_right">
    <div class="b"><img class="right_image" src="<%= asset_path "test1.jpg" %>"></div>
    <div class="b"><img class="right_image" src="<%= asset_path "test2.jpg" %>"></div>
    <div class="b"><img class="right_image" src="<%= asset_path "test3.jpg" %>"></div>
    <div class="b"><img class="right_image" src="<%= asset_path "test4.jpg" %>"></div>
</div>  