<div class="contents_left">
   <div class="check_start">
    <% if user_signed_in? && current_user.id %>
      <%= link_to 'メンタルチェック一覧へ戻る', "/checks", method: :get,class: 'btn btn-default' %><br>
    <% end %> 
   </div>  
  
  <table class="list">  
   
   <colgroup>
        <col style="width:15%;">
        <col style="width:5%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:12%;">
        <col style="width:38%;">
    </colgroup>
   
   <thead>
     <tr>
       <th>更新日</th>
       <th>ニック<br>ネーム</th>
       <th>ストレス<br>チェック前</th>
       <th>ストレス<br>チェック後</th>
       <th>ストレス<br>感度</th>
       <th>ストレス<br>レベル</th>
     </tr>
   </thead>
   <tbody>
     <% @checks_search.each do |check| %>
    <tr>
      <td rowspan="2"><%= check.created_at.strftime("%Y/%m/%d %H:%M") %>
      </td>
      <td rowspan="2"><a href="/users/<%= check.user_id %>">
           <span><%= check.user.nickname %></span>
        </a>
      </td>
      <td>
           <div class="star-rating">
             <span style="width:<%= check.pre_score %>% " class="star-rating-item"></span>
          </div>
      </td>
      <td>
           <div class="star-ratings-sprite">
             <span style="width:<%= check.chk_score %>%" class="star-ratings-sprite-rating"></span>
          </div>
      </td>
      <td>
        <%= render partial: "check", locals: { check: check } %>
      </td>
      <td>
        <%= render partial: "check-stress", locals: { check: check } %>
      </td>
    </tr>  
     <tr>
      <td colspan="4">
        <div class="comment_last">
          <% if user_signed_in? %>
            <%= link_to 'コメントする', check_path(check.id), method: :get, class: 'btn btn-default' %>
            最新コメント:<%= check.show_last_comment %>
          <% end %>  
        </div>
      </td>
    </tr>   
       <% end %>   
  </tbody>
  </table>

  <%= paginate(@checks_search) %>

</div> 
<div class="contents_right">
  
</div>  

    