<div class="contents_row">
    
  <h2>こんにちは
    <% if user_signed_in? && current_user.id %>
    <%= current_user.nickname %>さん</h2><br>
    <% end %>
  <h2>今感じているストレスレベルと診断テスト後のストレスレベルを比較して、ストレス感度を確認し、
  心のケアに役立てましょう！

  <% if user_signed_in? && current_user.id %>
    <%= link_to 'ストレスチェックを始める', "/checks/new", method: :get,class: 'btn btn-default' %>  
  <% end %> 
  </h2><br>
  <%= link_to 'メンタルチェック一覧へ戻る', "/checks", method: :get,class: 'btn btn-default' %><br>
  <table class="list">  
   <thead>
     <tr>
       <th>更新日</th>
       <th>ニック<br>ネーム</th>
       <th>ストレスチェック<br>結果</th>
       <th>診断前のストレス<br>認知度</th>
       <th>ストレス感度</th>
       <th>編集・削除</th>
     </tr>
   </thead>
   <tbody>
     <% @checks.each do |check| %>
    <tr>
       <td><%= check.created_at.strftime("%Y/%m/%d %H:%M") %></td>
       <td>
         <a href="/users/<%= check.user_id %>">
          <span><%= check.user.nickname %></span>
            <!--a href="/users/%= checks.user_id %>">-->
              <!--span>%= @nickname %></span>-->
           </a>
       </td>
       <td>
           <div class="star-ratings-sprite">
             <span style="width:<%= check.chk_score %>%" class="star-ratings-sprite-rating"></span></div>
          </div>
       </td>
       <td>
           <div class="star-rating">
             <span style="width:<%= check.pre_score %>% " class="star-rating-item"></span>
           </div>
       </td>
       <td>
           <% if check.dif_score > 60 then %>
            <p>ご自身で感じているよりもかなりストレスがかかっている状態で、危険です。すぐに休養しましょう！</p>
            <% elsif check.dif_score > 30 && check.dif_score <= 60 then %>
            <p>ご自身で感じているよりも、ストレスがかかっているようです。症状が重くなる前に積極的に休みを取りましょう！</p>
            <% elsif check.dif_score > 10 && check.dif_score <= 30 then %>
            <p>ストレスの感じ方が鈍ってきているようです。日常生活のストレス環境を見直し、適度な休息を取り入れて下さい！</p>
            <% elsif check.dif_score > 5 && check.dif_score <= 10 then %>
            <p>ストレスの感じ方がやや鈍ってきているようです。今の気分にもう少し素直になり、無理をしない生活を心がけましょう！</p>
            <% elsif check.dif_score > -5 && check.dif_score <= 5 then %>
            <p>ストレス値と今感じている気分は同じレベルです。気分に応じた休息を心がけてください。特にストレス値が高い場合、休息第一で行動してください！</p>
             <% elsif check.dif_score > -20 && check.dif_score <= -5 then %>
            <p>ストレスに対し、やや敏感になっているようです。ストレスに対しあまり反応しすぎず、心のバランスを維持していきましょう。</p>
            <% elsif check.dif_score > -30 && check.dif_score <= -20 then %>
            <p>ストレスに対し、敏感になっているようです。ご自身が思っているほど状態は悪くありません。日常生活にリラックスする機会を作りましょう。</p>
            <% elsif check.dif_score > -60 && check.dif_score <= -30 then %>
            <p>ストレスの感じ方が過剰気味です。必要以上にストレスを感じることは、心のバランスを崩してしまいます。</p>
          <% else %>
            <p>ストレスの感じ方が明らかに過剰です。思い違いの要因もないですか？今一度要因を見直してみてください。</p>
          <% end %>
        </td>
        <td>
            <% if user_signed_in? && current_user.id == check.user_id %>
            <%= link_to '編集', "/checks/#{check.id}/edit", method: :get,class: 'btn btn-default' %>
            <%= link_to '削除', "/checks/#{check.id}", method: :delete, data: { confirm: "本当に削除しますか？" },class: 'btn btn-default' %>
            <% end %>
        </td>
    </tr>   
       <% end %>   
  </tbody>
  </table>
  
  <%= paginate(@check) %>

</div>       
    