<div class="contents_row">
  <div class="contents_image">

  <p>ストレスチェック結果：<%= @check.chk_score %>ポイント<div class="star-ratings-sprite"><span style="width:<%= @check.chk_score %>%" class="star-ratings-sprite-rating"></span>
      </div></p>
    
    <p>診断コメント
     <% if @check.chk_score > 80 then %>
      <p>ストレスがかかり過ぎです！すぐに休みをとってください</p>
    <% elsif @check.chk_score > 60 && @check.chk_score <= 80 then %>
      <p>かなり無理がきているようです。積極的に休みをとりましょう！</p>
    <% elsif @check.chk_score > 40 && @check.chk_score <= 60 then %>
      <p>少し無理がきているようです。適時休みをとり、ストレスを溜めないように心がけましょう</p>
    <% elsif @check.chk_score > 20 && @check.chk_score <= 40 then %>
      <p>今のところ大丈夫そうですが、心のバランスをとるよう心がけましょう</p>
    <% else %>
      <p>調子よさそうですね。このペースを維持しましょう！</p>
    <% end %>
    </P>


    
  <p>診断前のストレス認知度:<%= @check.pre_score %>ポイント　<div class="star-rating"><span style="width:<%= @check.pre_score %>% " class="star-rating-item"></span>
    </div></p>

  <div class="content_comment">
    <p>ストレス感度コメント</p>
      <% if @check.dif_score > 60 then %>
            <p>ご自身で感じているよりもかなりストレスがかかっている状態で、危険です。すぐに休養しましょう！</p>
          <% elsif @check.dif_score > 30 && @check.dif_score <= 60 then %>
            <p>ご自身で感じているよりも、ストレスがかかっているようです。症状が重くなる前に積極的に休みを取りましょう！</p>
          <% elsif @check.dif_score > 10 && @check.dif_score <= 30 then %>
            <p>ストレスの感じ方が鈍ってきているようです。日常生活のストレス環境を見直し、適度な休息を取り入れて下さい！</p>
          <% elsif @check.dif_score > 5 && @check.dif_score <= 10 then %>
            <p>ストレスの感じ方がやや鈍ってきているようです。今の気分にもう少し素直になり、無理をしない生活を心がけましょう！</p>
            <% elsif @check.dif_score > -5 && @check.dif_score <= 5 then %>
            <p>今ご自身で感じているストレス感度は適正です。ストレスチェック値が高い場合、休息第一で行動してください！</p>
             <% elsif @check.dif_score > -20 && @check.dif_score <= -5 then %>
            <p>ストレスに対し、やや敏感になっているようです。ストレスに対しあまり反応しすぎず、心のバランスを維持していきましょう。</p>
            <% elsif @check.dif_score > -30 && @check.dif_score <= -20 then %>
            <p>ストレスに対し、敏感になっているようです。ご自身が思っているほど状態は悪くありません。日常生活にリラックスする機会を作りましょう。</p>
            <% elsif @check.dif_score > -60 && @check.dif_score <= -30 then %>
            <p>ストレスの感じ方が過剰気味です。必要以上にストレスを感じることは、心のバランスを崩してしまいます。</p>
          <% else %>
            <p>ストレスの感じ方が明らかに過剰です。思い違いの要因もないですか？今一度要因を見直してみてください。</p>
          <% end %>

  </div>
  <div class="content_more">
      <div class="more_list">
            <%= link_to 'メンタルチェック一覧へ戻る', "/checks", method: :get,class: 'btn btn-default' %><br>
          
        <% if user_signed_in? && current_user.id == @check.user_id %>
          
            <%= link_to 'やり直す', "/checks/#{@check.id}/edit", method: :get,class: 'btn btn-default' %>
            <%= link_to '削除', "/checks/#{@check.id}", method: :delete, data: { confirm: "本当に削除しますか？" },class: 'btn btn-default' %>
        <% end %>     
      </div>
   </div> 
  </div>
  

</div>
