<div class="contents_left">
  <div class="contents_image_show">
  </div>              
  <div class="contents_image">
     <table class="list_show">  
     
       <colgroup>
          <col style="width:15%;">
          <col style="width:5%;">
          <col style="width:10%;">
          <col style="width:30%;">
       </colgroup>
    
       <caption><h1 id="red">💫あなたのストレス感度は✨</h1></caption>
    
       <thead>
         <tr>
           <th></th>
           <th>％</th>
           <th>ストレス値</th>
           <th>ストレス感度（チェック前と後との差）</th>
         </tr>
       </thead>
       <tbody>
          <tr>
           <th>ストレスチェック後</th>
           <td><%= @check.chk_score %></td>
           <td>
             <div class="star-ratings-sprite">
               <span style="width:<%= @check.chk_score %>%" class="star-ratings-sprite-rating"></span>
             </div>
           </td>
           <td rowspan="2">
             <div class="stress_sensivility">
                <%= render partial: "check", locals: { check: @check } %>
              </div>
            </td>
          </tr>
          <tr>
            <th>ストレスチェック前</th> 
            <td><%= @check.pre_score %></td>
            <td>
              <div class="star-rating">
                <span style="width:<%= @check.pre_score %>% " class="star-rating-item"></span>
              </div>
            </td>
          </tr>
       </tbody>
      </table>
  </div>  
   <div class="contents_answer">
    <span class="box-title">今のストレスレベル</span>
      <%= render partial: "check-stress", locals: { check: @check } %>
   </div>  
   
  <div class="content_more">
        <%= link_to 'メンタルチェック一覧へ戻る', "/checks", method: :get,class: 'btn btn-default' %>
          
        <% if user_signed_in? && current_user.id == @check.user_id %>
            <%= link_to 'やり直す', "/checks/#{@check.id}/edit", method: :get,class: 'btn btn-default' %>
            <%= link_to '削除', "/checks/#{@check.id}", method: :delete, data: { confirm: "本当に削除しますか？" },class: 'btn btn-default' %>
        <% end %>     
  </div> 
</div> 
<div class="contents_right2">
  <div class="content_comment"> 
      <% if current_user %>
         <%= form_tag("/checks/#{@check.id}/comments",  method: :post,  id: "comment_text" ) do %>
          <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="input_comment"></textarea>
          <input type="submit" value="SEND" class="form_submit">
        <!--%= form_with(model: [@check, @comment], local: true, id: "comment_text") do |form| %>-->
        <!--      %= form.text_area :text, placeholder: "コメントする", rows: "2", class: "input_comment" %>-->
        <!--      %= form.submit "SEND",  class: "form_submit" %>-->
        <!--% else %>-->
        <!--  <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>-->
        <% end %>
      <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment_content">
            <div class="comments_user">  
                <h2 id="skyblue"><%= comment.user.nickname %>:</h2>
            </div>   
            <div class="comments_text">
                <span class="mgr-10"><%= comment.text %></span>
            </div>  
         </div>         
        <div class="comments_date">
            <span class="mgr-10"><small><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>更新</small></span>
        </div>
   
        <% end %>
       <%= paginate(@comments) %>
      <% end %>
    </div> 
  </div>  
</div>  